pip install fastapi
pip install uvicorn
pip install matplotlib
pip install jinja2
pip install mercantile
pip install numpy
pip install asyncio
pip install httpx
pip install aiocache
pip install rio_tiler
pip install shapely
pip install tqdm
