<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About VirtuGhan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style> 
        /* body { 
            font-family: 'Inter', sans-serif; 
        }  */
        .custom-height-icon {
            font-size: 2rem; 
        }

    </style>
</head>
<body class="bg-gray-50 text-gray-700">
    <header class="bg-white shadow-md py-4 border-b border-gray-300">
        <div class="container mx-auto flex items-center justify-between px-4 relative">
          <!-- Logo -->
          <div class="flex items-center">
            <a href="/"><img src="static/img/virtughan-logo.png" alt="Logo" class="h-10 w-10 mr-2"></a>
            <span class="text-xl font-bold text-gray-800">VirtuGhan</span>
          </div>
          <!-- Hamburger Menu for Mobile -->
          <div class="block md:hidden absolute right-4 top-4">
            <button id="nav-toggle" class="text-gray-600 focus:outline-none">
              <i class="fas fa-bars fa-2x"></i>
            </button>
          </div>
          <!-- Navigation Links -->
          <nav id="nav-content" class="hidden md:flex space-x-8">
            <a href="/" class="text-gray-600 hover:text-gray-900">Data</a>
            <a href="/about" class="text-gray-600 hover:text-gray-900">About</a>
            <a href="https://kshitijrajsharma.github.io/virtughan/" target="_blank" class="text-gray-600 hover:text-gray-900">Docs</a>
            <a href="https://github.com/kshitijrajsharma/VirtuGhan" target="_blank" class="text-gray-600 hover:text-gray-900">
              <i class="fab fa-github custom-height-icon"></i>
            </a>
          </nav>
        </div>
        <!-- Mobile Navigation Links -->
        <div id="nav-content-mobile" class="hidden absolute top-16 right-0 max-w-sm bg-white space-y-2 py-2 px-4 z-50">
          <a href="/" class="block text-gray-600 hover:text-gray-900">Data</a>
          <a href="/about" class="block text-gray-600 hover:text-gray-900">About</a>
          <a href="https://github.com/kshitijrajsharma/VirtuGhan" target="_blank" class="block text-gray-600 hover:text-gray-900">
            <i class="fab fa-github custom-height-icon"></i>
          </a>
        </div>
      </header>
    
    <!-- Include FontAwesome Library -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    
    <div class="container mx-auto py-10">
        <div class="bg-gray-50 p-8 w-full sm:w-full md:w-3/4 lg:w-2/3 xl:w-[70%] mx-auto">
          <h1 class="text-4xl font-bold mb-6 text-center">VirtuGhan</h1>
          <p class="mb-4 text-center text-lg"><i>Conceptualization and Development by:  <a href="https://www.linkedin.com/in/kshitijrajsharma/" target="_blank" class="text-blue-600">Kshitij Raj Sharma</a>, <a href = "https://www.linkedin.com/in/upendra-oli-4a8986a0/" target="_blank" class="text-blue-600">Upendra Oli</a></i></p>
          <p class="mb-4 text-center text-lg"><i><strong>Name</strong> is a combination of virtual cube, where cube translates to Nepali word “घन”</i></p>
          <h2 class="text-2xl font-semibold mb-4">Background</h2>
          <div class="flex flex-wrap md:flex-nowrap mb-4">
            <div class="flex-grow">
              <p>We started initially by looking at how Google Earth Engine (GEE) computes results on-the-fly at different zoom levels on large-scale Earth observation datasets. We were fascinated by the approach and felt an urge to replicate something similar on our own in an open-source manner. We knew Google uses their own kind of tiling, so we started from there.</p>
              <p>Initially, we faced a challenge – how could we generate tiles and compute at the same time without pre-computing the whole dataset? Pre-computation would lead to larger processed data sizes, which we didn’t want. And so, the exploration began and the concept of on the fly tiling computation introduced.</p>
            </div>
            <!-- <div class="flex-shrink-0 md:ml-4 mt-4 md:mt-0 w-full sm:w-1/2 md:w-96">
              <img src="static/img/about/satellite.png" alt="First Main Paragraph Image" class="w-full h-auto rounded-lg shadow-md">
            </div> -->
          </div>
      
          <div class="flex flex-wrap md:flex-nowrap mb-4">
            <div class="flex-grow">
              <p>At university, we were introduced to the concept of data cubes and the advantages of having a time dimension and semantic layers in the data. It seemed fascinating, despite the challenge of maintaining terabytes of satellite imagery. We thought – maybe we could achieve something similar by developing an approach where one doesn’t need to replicate data but can still build a data cube with semantic layers and computation. This raised another challenge – how to make it work? And hence came the virtual data cube.</p>
            </div>
            <!-- <div class="flex-shrink-0 md:ml-4 mt-4 md:mt-0 w-full sm:w-1/2 md:w-96">
              <img src="static/img/about/satellite.png" alt="Second Main Paragraph Image" class="w-full h-auto rounded-lg shadow-md">
            </div> -->
          </div>
          <p class="mb-4">We started converting Sentinel-2 images to Cloud Optimized GeoTIFFs (COGs) and experimented with the time dimension using Python’s xarray to compute the data. We found that AWS’s effort to store Sentinel images as COGs made it easier for us to build virtual data cubes across the world without storing any data. This felt like an achievement and proof that modern data cubes should focus on improving computation rather than worrying about how to manage terabytes of data.</p>
          <p class="mb-4">We wanted to build something to show that this approach actually works and is scalable. We deliberately chose to use only our laptops to run the prototype and process a year’s worth of data without expensive servers.</p>
          
          <p> Here are some important links:
            <ul>
              <li><a href="https://virtughan.live/" class="text-blue-600">Live demo</a></li>
              <li><a href="https://lnkd.in/gDggcdzc" class="text-blue-600">Introduction Video</a></li>
              <li><a href="https://lnkd.in/gKZ2dQfG" class="text-blue-600">Github</a></li>
              <li><a href="https://lnkd.in/g_NsMaNH" class="text-blue-600">Python Package</a></li>
              <li><a href="https://shorturl.at/UXtCs" class="text-blue-600">Use Case Trial on Fire incident, Los Angeles</a></li>
            </ul> 
          </p>

          <h2 class="text-2xl font-semibold mb-4 mt-10">Purpose</h2>
          <div class="flex flex-wrap md:flex-nowrap mb-4">
            <div class="flex-grow">
              <ul class="list-disc list-inside mb-4">
                <li class="mb-2 flex flex-wrap md:flex-nowrap">
                  <div class="flex-grow">
                    <strong>Efficient On-the-Fly Tile Computation:</strong> This research explores how to perform real-time calculations on satellite images at different zoom levels, similar to Google Earth Engine, but using open-source tools. By using Cloud Optimized GeoTIFFs (COGs) with Sentinel-2 imagery, large images can be analyzed without needing to pre-process or store them. The study highlights how this method can scale well and work efficiently, even with limited hardware. Our main focus is on how to scale the computation on different zoom levels without introducing server overhead.
                  </div>
                  <div class="flex-shrink-0 md:ml-4 mt-4 md:mt-0 w-full sm:w-1/2 md:w-96">
                    <img src="static/img/about/ndvi-img.png" alt="Satellite Map" class="w-full h-auto rounded-lg shadow-md">
                  </div>
                </li>
                <li class="mb-2"><strong>Virtual Data Cubes: Focusing on Computation Instead of Storage:</strong> We believe that instead of focusing on storing large images, data cube systems should prioritize efficient computation. COGs make it possible to analyze images directly without storing the entire dataset. This introduces the idea of virtual data cubes, where images are stacked and processed over time, allowing for analysis across different layers (including semantic layers) without needing to download or save everything. So, original data is never replicated. In this setup, a data provider can store and convert images to COGs, while users or service providers focus on calculations. This approach reduces the need for terabytes of storage and makes it easier to process large datasets quickly.</li>
                <li class="mb-2"><strong>Cloud Optimized GeoTIFF and STAC API for Large Earth Observation Data:</strong> This research introduces methods on how to use COGs, the SpatioTemporal Asset Catalog (STAC) API, and NumPy arrays to improve the way large Earth observation datasets are accessed and processed. The method allows users to focus on specific areas of interest, process data across different bands and layers over time, and maintain optimal resolution while ensuring fast performance. By using the STAC API, it becomes easier to search for and only process the necessary data without needing to download entire images (not even a single scene, only accessing the parts). The study shows how COGs can improve the handling of large datasets, not only making the access faster but also making computation efficient, and scalable across different zoom levels.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
      <script>
        document.getElementById('nav-toggle').addEventListener('click', () => {
          const navContentMobile = document.getElementById('nav-content-mobile');
          navContentMobile.classList.toggle('hidden');
        });
      </script>
      
</body>
</html>
