<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentinel-2 COG Viewer</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- tailwind start -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- for customization -->
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            }
          }
        }
      }
    </script>

  <!-- for custom css -->
  <style type="text/tailwindcss">
    @layer utilities {
      .content-auto {
        content-visibility: auto;
      }
    }
  </style>
    <!-- tailwind end -->
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      #map {
        /* flex: 1; */
      }

      /* #info {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 1000;
        background: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
      #controls {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1000;
        background: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      }
      #sidebar {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 300px;
        max-height: 80vh;
        overflow-y: auto;
        padding: 10px;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
      }
      .feature-item {
        padding: 5px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
      }
      .feature-item:hover {
        background-color: #f0f0f0;
      }
      .highlighted {
        background-color: #ff0;
      }
      .popup-content {
        max-height: 200px;
        overflow-y: auto;
      }
      .download-section {
        margin-top: 10px;
      }
      .download-section h4 {
        cursor: pointer;
      }
      .download-section ul {
        display: none;
        list-style-type: none;
        padding: 0;
      }
      .download-section ul li {
        margin-bottom: 5px;
      } */
    </style>
  </head>
  <body>
    <div class = "flex h-screen p-4">
      <div id="info" class="w-1/4 space-y-12 float-left z-10 bg-white col-span-1">
        <div class="border-b border-gray-900/10 pb-12">
          <h2 class="text-base/7 font-semibold text-gray-900">Apply Filters</h2>
          <p class="mt-1 text-sm/6 text-gray-600">Select the filters you want to apply.</p>
          <div>
            <ul role="list" class="divide-y divide-gray-100">
              <li class="flex justify-between gap-x-6 py-5">
                <div class="flex min-w-0 gap-x-4">
                  <img class="size-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  <div class="min-w-0 flex-auto">
                    <p class="text-sm/6 font-semibold text-gray-900">Leslie Alexander</p>
                    <p class="mt-1 truncate text-xs/5 text-gray-500">leslie.alexander@example.com</p>
                  </div>
                </div>
                <!-- <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                  <p class="text-sm/6 text-gray-900">Co-Founder / CEO</p>
                  <p class="mt-1 text-xs/5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
                </div> -->
              </li>
              <li class="flex justify-between gap-x-6 py-5">
                <div class="flex min-w-0 gap-x-4">
                  <img class="size-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  <div class="min-w-0 flex-auto">
                    <p class="text-sm/6 font-semibold text-gray-900">Leslie Alexander</p>
                    <p class="mt-1 truncate text-xs/5 text-gray-500">leslie.alexander@example.com</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <strong>Coordinates:</strong> <span id="coords"></span><br />
          <strong>Zoom Level:</strong> <span id="zoom-level"></span>
      
      <div id="controls">
        <label>Start Date: <input type="date" id="start-date" /></label><br />
        <label>End Date: <input type="date" id="end-date" /></label><br />
        <label
          >Cloud Cover: <input type="number" id="cloud-cover" value="30" /></label
        ><br />
        <button id="search-button">Search</button><br /><br />
        <input type="checkbox" id="overlayNdvi" />
        <label for="overlayNdvi">Overlay NDVI Layer</label>
      </div>
      <div id="sidebar">
        <h3>Features</h3>
        <button id="clear-sidebar-button">Clear</button>
        <div id="feature-list"></div>
      </div>
    </div>
  </div>
  <div id="map" class = "w-3/4 z-0 col-span-2"></div>
  </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
      var map = L.map("map").setView([28.202082, 83.987222], 10);
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      var geojsonLayer;
      var ndviLayer;
      var highlightedLayer;

      map.on("moveend", function () {
        var bounds = map.getBounds();
        var bbox = `${bounds.getWest()},${bounds.getSouth()},${bounds.getEast()},${bounds.getNorth()}`;
        document.getElementById("coords").textContent = bbox;
        document.getElementById("zoom-level").textContent = map.getZoom();
      });

      document
        .getElementById("search-button")
        .addEventListener("click", function () {
          var bounds = map.getBounds();
          var bbox = `${bounds.getWest()},${bounds.getSouth()},${bounds.getEast()},${bounds.getNorth()}`;
          var startDate = document.getElementById("start-date").value;
          var endDate = document.getElementById("end-date").value;
          var cloudCover = document.getElementById("cloud-cover").value;
          var overlayNdvi = document.getElementById("overlayNdvi").checked;

          fetch(
            `/search?bbox=${bbox}&start_date=${startDate}&end_date=${endDate}&cloud_cover=${cloudCover}`
          )
            .then((response) => response.json())
            .then((data) => {
              if (geojsonLayer) {
                map.removeLayer(geojsonLayer);
              }

              geojsonLayer = L.geoJSON(data, {
                style: function (feature) {
                  return {
                    fillOpacity: 0,
                    color: "red",
                    weight: 1,
                  };
                },
                onEachFeature: function (feature, layer) {
                  layer.on("click", function () {
                    var popupContent = `
                                <div class="popup-content">
                                    <strong>ID:</strong> ${feature.id}<br />
                                    <strong>Date:</strong> ${
                                      feature.properties.datetime
                                    }<br />
                                    <strong>Cloud Cover:</strong> ${
                                      feature.properties["eo:cloud_cover"]
                                    }<br />
                                    <hr>
                                    <strong>Properties:</strong><br />
                                    ${Object.entries(feature.properties)
                                      .map(
                                        ([key, value]) =>
                                          `<strong>${key}:</strong> ${value}<br />`
                                      )
                                      .join("")}
                                    <div class="download-section">
                                        <h4>Click to Download</h4>
                                        <ul>
                                            ${Object.entries(feature.assets)
                                              .map(
                                                ([key, asset]) =>
                                                  `<li><a href="${asset.href}" target="_blank">${asset.title}</a></li>`
                                              )
                                              .join("")}
                                        </ul>
                                    </div>
                                </div>
                              `;
                    layer.bindPopup(popupContent).openPopup();

                    // Add event listener for download section toggle
                    document
                      .querySelector(".download-section h4")
                      .addEventListener("click", function () {
                        var ul = this.nextElementSibling;
                        ul.style.display =
                          ul.style.display === "none" ? "block" : "none";
                      });
                  });
                },
              }).addTo(map);

              var featureList = document.getElementById("feature-list");
              featureList.innerHTML = "";

              data.features.forEach(function (feature, index) {
                var featureItem = document.createElement("div");
                featureItem.className = "feature-item";
                featureItem.innerHTML = `
                            <strong>ID:</strong> ${feature.id}<br />
                            <strong>Date:</strong> ${feature.properties.datetime}<br />
                            <strong>Cloud Cover:</strong> ${feature.properties["eo:cloud_cover"]}<br />
                        `;
                featureItem.addEventListener("click", function () {
                  if (highlightedLayer) {
                    map.removeLayer(highlightedLayer);
                  }
                  highlightedLayer = L.geoJSON(feature, {
                    style: function () {
                      return {
                        fillOpacity: 0.5,
                        color: "yellow",
                        weight: 2,
                      };
                    },
                  }).addTo(map);
                  map.fitBounds(highlightedLayer.getBounds());
                  var popupContent = `
            <div class="popup-content">
                <strong>ID:</strong> ${feature.id}<br />
                <strong>Date:</strong> ${feature.properties.datetime}<br />
                <strong>Cloud Cover:</strong> ${
                  feature.properties["eo:cloud_cover"]
                }<br />
                <hr>
                <strong>Properties:</strong><br />
                ${Object.entries(feature.properties)
                  .map(
                    ([key, value]) => `<strong>${key}:</strong> ${value}<br />`
                  )
                  .join("")}
                <div class="download-section">
                    <h4>Click to Download</h4>
                    <ul>
                        ${Object.entries(feature.assets)
                          .map(
                            ([key, asset]) =>
                              `<li><a href="${asset.href}" target="_blank">${asset.title}</a></li>`
                          )
                          .join("")}
                    </ul>
                </div>
            </div>
        `;
                  highlightedLayer.bindPopup(popupContent).openPopup();

                  document
                    .querySelector(".download-section h4")
                    .addEventListener("click", function () {
                      var ul = this.nextElementSibling;
                      ul.style.display =
                        ul.style.display === "none" ? "block" : "none";
                    });
                });
                featureList.appendChild(featureItem);
              });

              document.getElementById("sidebar").style.display = "block";

              if (overlayNdvi) {
                if (ndviLayer) {
                  map.removeLayer(ndviLayer);
                }

                ndviLayer = L.tileLayer(
                  `/tile/{z}/{x}/{y}?start_date=${startDate}&end_date=${endDate}&cloud_cover=${cloudCover}`,
                  {
                    tileSize: 256,
                    opacity: 0.8,
                    attribution:
                      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                  }
                ).addTo(map);
              }
            });
        });

      document
        .getElementById("clear-sidebar-button")
        .addEventListener("click", function () {
          if (geojsonLayer) {
            map.removeLayer(geojsonLayer);
          }
          if (highlightedLayer) {
            map.removeLayer(highlightedLayer);
          }
          if (ndviLayer) {
            map.removeLayer(ndviLayer);
          }
          document.getElementById("sidebar").style.display = "none";
        });

      // Set default dates
      var today = new Date().toISOString().split("T")[0];
      var lastYear = new Date();
      lastYear.setFullYear(lastYear.getFullYear() - 1);
      var lastYearDate = lastYear.toISOString().split("T")[0];

      document.getElementById("start-date").value = lastYearDate;
      document.getElementById("end-date").value = today;
    </script>
  </body>
</html>
